
<div class="sticky-top">
    <div class="row pb-5 pt-3 bg-main-gradient" style="margin-bottom: -50px;">
        <p class="text-white">AI Vehicle Monitoring Dashboard </p>
    </div>
    <div class="filter-header bg-white pb-0 shadow border-0">
        <form>
            <div class="row gx-3">
                <!-- <div class="col-sm-3 mb-sm-3">
              <mat-form-field appearance="outline" class="w-100">
                <input matInput [matDatepicker]="picker" formControlName="from">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-sm-3 mb-sm-3">
              <mat-form-field appearance="outline" class="w-100">
                <input matInput [matDatepicker]="picker1"  formControlName="to">
                <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
            </div> -->
    
                <div class="col-sm-3 mb-sm-3">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-select formControlName="Status" placeholder="legal/llegal">
                            <mat-option value="all">All Status</mat-option>
                            <mat-option value="valid">Legal</mat-option>
                            <mat-option value="invalid">Illegal</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-3 mb-sm-3">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-select formControlName="" placeholder="Lane No.">
                            <mat-option value="all">Lane No.</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-3 mb-sm-3">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-select formControlName="" placeholder="Front Class">
                            <mat-option value="all">Front Class</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-3 mb-sm-3">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-select formControlName="" placeholder="Top Class">
                            <mat-option value="all">Top Class</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-3 mb-sm-3">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-select formControlName="" placeholder="Error">
                            <mat-option value="all">Error</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-auto">
                    <div class="d-flex align-items-center gap-1">
                        <button mat-stroked-button color="primary">Search</button>
                    </div>
                </div>
    
            </div>
        </form>
    
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <mat-card class="plain-card mb-3">
            <mat-card-header>
                <mat-card-title>
                    <h6 class="fw-semibold">Front Class Distribution</h6>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                Chart
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-md-6">
        <mat-card class="plain-card mb-3">
            <mat-card-header>
                <mat-card-title>
                    <h6 class="fw-semibold">Top Class Distribution</h6>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                Chart
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-md-8">
        <mat-card class="plain-card mb-3">
            <mat-card-header>
                <mat-card-title>
                    <h6 class="fw-semibold">Inconclusion Distribution</h6>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                Chart
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-md-4">
        <mat-card class="plain-card mb-3">
            <mat-card-header>
                <mat-card-title>
                    <h6 class="fw-semibold">Error Analysis</h6>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                Chart
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-md-2">
        <mat-card class="plain-card mb-3">
            <mat-card-header>
                <mat-card-title>
                    <h6 class="fw-semibold">Legal / Illegal</h6>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                Chart
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-md-3">
        <mat-card class="plain-card mb-3">
            <mat-card-header>
                <mat-card-title>
                    <h6 class="fw-semibold">Number Plate</h6>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                Chart
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-md">
        <mat-card class="plain-card mb-3">
            <mat-card-header>
                <mat-card-title>
                    <h6 class="fw-semibold">Front Class</h6>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                Chart
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-md">
        <mat-card class="plain-card mb-3">
            <mat-card-header>
                <mat-card-title>
                    <h6 class="fw-semibold">Top Class</h6>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                Chart
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-md-12">
        <mat-card class="plain-card mb-3">
            <mat-card-header>
                <mat-card-title>
                    <h6 class="fw-semibold">Time Distribution</h6>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="row">
                    <div class="col-md-4">
                        <div class="d-flex align-items-center justify-content-between">
                            <p class="fw-semibold mb-0">Front Class</p>
                            <mat-form-field appearance="outline" class="field-wrapper-none">
                                <mat-select formControlName="" placeholder="Distribution">
                                    <mat-option value="all">Hours</mat-option>
                                    <mat-option value="all">Day</mat-option>
                                    <mat-option value="all">Week</mat-option>
                                    <mat-option value="all">Month</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div>Chart</div>
                    </div>
                    <div class="col-md-4">
                        <div class="d-flex align-items-center justify-content-between">
                            <p class="fw-semibold mb-0">Top Class</p>
                            <mat-form-field appearance="outline" class="field-wrapper-none">
                                <mat-select formControlName="" placeholder="Distribution">
                                    <mat-option value="all">Hours</mat-option>
                                    <mat-option value="all">Day</mat-option>
                                    <mat-option value="all">Week</mat-option>
                                    <mat-option value="all">Month</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div>Chart</div>
                    </div>
                    <div class="col-md-4">
                        <div class="d-flex align-items-center justify-content-between">
                            <p class="fw-semibold mb-0">Error</p>
                            <mat-form-field appearance="outline" class="field-wrapper-none">
                                <mat-select formControlName="" placeholder="Distribution">
                                    <mat-option value="all">Hours</mat-option>
                                    <mat-option value="all">Day</mat-option>
                                    <mat-option value="all">Week</mat-option>
                                    <mat-option value="all">Month</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div>Chart</div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>

  