.dashboard-outer mat-card{
    background: #FFFFFF;
    box-shadow: 6px 6px 24px #46464629;
    border-radius: 15px;
    margin-bottom: 20px;
}
.dashVehList {
    font-size: .85rem;
    margin-bottom: 4px;
}