<nav class="navbar bg-white py-1 border-bottom shadow-sm">
    <div class="container-fluid justify-content-lg-between justify-content-end gap-1">
        <div class="d-none d-sm-none d-lg-block">
            <img src="assets/images/logo-text.svg" class="w-75">
        </div>
        <div class="d-flex justify-content-end align-items-center">
            <button mat-flat-button class="btn-icon btn-sidebar-close">
                <span class="material-symbols-rounded">
                    menu
                </span>
            </button>

            <button mat-flat-button class="btn-icon">
                <mat-icon class="material-symbols-rounded">
                    notifications_active
                </mat-icon>
            </button>
            <div class="dropdown">
                <button class="btn profile" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <div class="d-flex align-items-center gap-2">
                        <img src="assets/images/user.png" class="avatar-photo">
                        <div class="d-flex flex-column align-items-start">
                            <p>User Name</p>
                            <small>Designation</small>
                        </div>
                    </div>
                </button>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                        <a class="dropdown-item" href="#">
                            <mat-icon class="material-symbols-rounded">
                                account_circle
                            </mat-icon>
                            My Profile
                        </a>
                    </li>
                    <li><a class="dropdown-item">
                            <mat-icon class="material-symbols-rounded">
                                lock
                            </mat-icon>
                            Change Password
                        </a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item">
                            <mat-icon class="material-symbols-rounded">
                                logout
                            </mat-icon>
                            Logout
                        </a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>