.login-wrapper{
  height: 100vh;
  display: flex;
  align-items: center;
  background-image: url('../../../assets/images/new-login.png');
  background-position: center;
  background-size: cover;
}
#captcha{
  background-image: url('../../../assets/images/captcha_bg.jpg');
  border-radius: 5px;
}
