// footer style start
.sand-policy-footer {
  background: #EEF4FB 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 20px #00000029;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1607843137);
  padding-block: 5px;
  position: fixed;
  width: 100%;
  bottom: 0;
}
// footer style end
