
<mat-card class="plain-card bg-white">
  <mat-card-header class="card-header-control">
    <form [formGroup]="filterFrom">
      <div class="row g-3">
        <div class="col-sm-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>From</mat-label>
            <input matInput [matDatepicker]="picker" [max]="maxDate" formControlName="from">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-sm-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>To</mat-label>
            <input matInput [matDatepicker]="picker1" [max]="maxDate" formControlName="to">
            <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>

        </div>
        <div class="col-sm-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>All District</mat-label>
            <mat-select formControlName="dist">
              <mat-option *ngFor="let distObj of districtArray" [value]="distObj.id">{{distObj.district}}</mat-option>

            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>All Status</mat-label>
            <mat-select formControlName="Status">
              <mat-option value="all">All Status</mat-option>
              <mat-option value="valid">Legal</mat-option>
              <mat-option value="invalid">Illegal</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Top Class Category</mat-label>
            <mat-select formControlName="AI_SubCategory">
              <mat-option *ngFor="let topObj of  topCategoryArray" [value]="topObj.id">
                {{topObj.subCategory}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Front Class Category</mat-label>
            <mat-select formControlName="FrontClassName">
              <mat-option *ngFor="let frontCat of front_cls_names" [value]="frontCat">{{frontCat}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm-2">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>All Line</mat-label>
            <mat-select formControlName="Laneid">
              <mat-option value="0">All Lane</mat-option>
              <mat-option *ngFor="let item of lineArray let i = index" [value]="i+1">Lane - {{i+1}}</mat-option>

            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm-2">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Vehicle No.</mat-label>
            <input matInput formControlName="TextSearch" placeholder="Vehicle No." UpperCaseText
              (keypress)="Validation.noSpaceAllow($event);Validation.alphaNumericWithSpaces($event)">
          </mat-form-field>
        </div>
        <div class="col-sm-auto">
          <button mat-flat-button class=" btn btn-main" (click)="pageNumber =1 ; getData()">Apply</button>
          <button mat-flat-button class="btn btn-second" (click)="exportExcel()" *ngIf="iscompleted == 1">
            <mat-icon class="material-symbols-rounded">
              description
          </mat-icon>
          Excel</button>
        </div>
      </div>
    </form>
  </mat-card-header>
  <mat-card-content class="card-body">
    <mat-tab-group (selectedTabChange)="tabClick($event);">
      <mat-tab label="COMPLETED">
        <div class="table-responsive table-content scrollbar">
          <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="dashboard-table">
            <ng-container matColumnDef="SrNo">
              <th mat-header-cell *matHeaderCellDef> Sr.No. </th>
              <td mat-cell *matCellDef="let element; let i=index" class="mxw-80"> {{element.srNo}}</td>
            </ng-container>
            <ng-container matColumnDef="VehicleNo">
              <th mat-header-cell *matHeaderCellDef>Vehicle No.</th>
              <td mat-cell *matCellDef="let element ">
                <div class="d-flex">
                  <div class="text-uppercase" style="min-width: 125px;">
                    <p class="mb-0 fw-600"><span class="fw-bold">AI - </span>{{element.raw_vehicleno ?
                      element.raw_vehicleno : element.vehicleNumber }}</p>
                    <p class="mb-0 fw-600"><span class="fw-bold">GT - </span>{{element.vehicleNumber}}</p><span
                      class="small"> {{element.date | date:"dd/MM/yyyy HH:mm"}}</span>
                  </div>
                  <img src="{{imageType(element, 'Number Plate', 'Nothing')?.imagePath}}" height="60"
                    class="m-2  NumberPLate" style="border: 2px solid #5a5a5a;">
                </div>
              </td>
            </ng-container>
            <ng-container matColumnDef="LegalIllegal">
              <th mat-header-cell *matHeaderCellDef>Legal/Illegal</th>
              <td mat-cell *matCellDef="let element ">{{element.leagalIlligal}} </td>
            </ng-container>
            <ng-container matColumnDef="FrontClassName">
              <th mat-header-cell *matHeaderCellDef>Front Class Name</th>
              <td mat-cell *matCellDef="let element ">
                <!-- {{element.aI_VehicleType}}  -->
                <div class="d-flex flex-column justify-content-start">
                  <p class="mb-0"><span class="fw-600">AI-</span><span>{{element.front_class_name}}</span></p>
                  <p class="mb-0"><span class="fw-600">GT-</span><span>{{element.aI_VehicleType}}</span></p>
                </div>
              </td>

            </ng-container>
            <ng-container matColumnDef="TopClassName">
              <th mat-header-cell *matHeaderCellDef>Top Class Name</th>
              <td mat-cell *matCellDef="let element ">
                <div class="d-flex flex-column justify-content-start">
                  <p class="mb-0"><span class="fw-600">AI-</span><span>{{element.top_class_name}}</span></p>
                  <p class="mb-0"><span class="fw-600">GT-</span><span>{{element.aI_SubCategory}}</span></p>
                </div>
              </td>
            </ng-container>
            <ng-container matColumnDef="LaneNo">
              <th mat-header-cell *matHeaderCellDef>Lane No.</th>
              <td mat-cell *matCellDef="let element ">Lane- {{element.laneid}}</td>
            </ng-container>
            <ng-container matColumnDef="expand">
              <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button aria-label="expand row"
                  (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation() ;onClickFold(element,'completed')">
                  <mat-icon class="material-symbols-rounded"
                    *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
                  <mat-icon class="material-symbols-rounded"
                    *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
                </button>
              </td>
            </ng-container>

            <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
            <ng-container matColumnDef="expandedDetail">
              <td mat-cell *matCellDef="let element" [attr.colspan]="7">
                <div class="example-element-detail"
                  [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">

                  <mat-tab-group class="inner-tab">
                    <mat-tab label="Predicted">
                      <div class="row gy-2 mb-4">
                        <div class="col-sm-4">
                          <div class="camera">
                            <div class="img-wh">
                              <div>
                                <lib-ngx-image-zoom [thumbImage]="imageType(element, 'Anpr', 'Predication')?.imagePath"
                                  [magnification]="1" [enableScrollZoom]="true" [enableLens]="true" [lensWidth]="250"
                                  [lensHeight]="250">
                                </lib-ngx-image-zoom>
                              </div>
                            </div>
                            <span>ANPR Camera</span>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="camera">
                            <img src="{{imageType(element, 'Front', 'Predication')?.imagePath}}" alt=""
                              class="camera-height"
                              (click)="openImage(element,imageType(element, 'Front', 'Predication')?.imagePath)">
                            <span>Front Camera</span>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="camera">
                            <img src="{{imageType(element, 'Top', 'Predication')?.imagePath}}" alt=""
                              (click)="openImage(element,imageType(element,'Top', 'Predication')?.imagePath)"
                              class="camera-height">
                            <span>Top Camera</span>
                          </div>
                        </div>
                      </div>
                    </mat-tab>
                    <mat-tab label="Raw">
                      <div class="row gy-2 mb-4">
                        <div class="col-sm-4">
                          <div class="camera">
                            <div class="img-wh">
                              <div>
                                <lib-ngx-image-zoom [thumbImage]="imageType(element, 'Anpr', 'Raw')?.imagePath"
                                  [magnification]="1" [enableScrollZoom]="true" [enableLens]="true" [lensWidth]="250"
                                  [lensHeight]="250">
                                </lib-ngx-image-zoom>
                              </div>
                            </div>
                            <span>ANPR Camera</span>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="camera">
                            <img src="{{imageType(element, 'Front', 'Raw')?.imagePath}}" alt=""
                              (click)="openImage(element,imageType(element,'Front', 'Raw')?.imagePath)"
                              class="camera-height">
                            <span>Front Camera</span>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="camera">
                            <img src="{{imageType(element, 'Top', 'Raw')?.imagePath}}" alt="" class="camera-height"
                              (click)="openImage(element,imageType(element,'Top', 'Raw')?.imagePath)">
                            <span>Top Camera</span>
                          </div>
                        </div>
                      </div>
                    </mat-tab>
                  </mat-tab-group>
                  <div class="text-end">
                    <button mat-flat-button class="bg-transparent btn-icon" (click)="enableFrom()">
                      <i class="fas fa-edit text-main"></i>
                    </button>
                  </div>
                  <form [formGroup]="updateFrom">
                    <div class="row mb-3">
                      <div class="col-sm-4">
                        <div class="card verification-box">
                          <div class="d-flex justify-content-between">
                            <p>Vechicle Detected : (Green Box)</p>
                            <mat-radio-group aria-label="Select an option " class="d-flex gap-2 text-nowrap"
                              formControlName="VehicleDetected">
                              <mat-radio-button value="Yes">Correct</mat-radio-button>
                              <mat-radio-button value="No">Incorrect</mat-radio-button>
                            </mat-radio-group>

                          </div>
                          <div class="d-flex justify-content-between">
                            <p>Number Plate Detected : (Red Box)</p>
                            <mat-radio-group aria-label="Select an option " class="d-flex gap-2 text-nowrap"
                              formControlName="vehicleNumberPlate">
                              <mat-radio-button value="Yes">Correct</mat-radio-button>
                              <mat-radio-button value="No">Incorrect</mat-radio-button>
                            </mat-radio-group>

                          </div>
                          <div class="d-flex justify-content-between">
                            <p>Vehicle Number :</p>
                            <mat-radio-group aria-label="Select an option " class="d-flex gap-2 text-nowrap"
                              formControlName="vehicleNumberDetected" (change)="checkVehicleNo(element)">
                              <mat-radio-button value="Yes">Correct</mat-radio-button>
                              <mat-radio-button value="No">Incorrect</mat-radio-button>
                            </mat-radio-group>

                          </div>
                          <div class="mb-2">
                            <label for="">Vehicle No.</label>
                            <mat-form-field appearance="outline" class="w-100">
                              <input matInput placeholder="Vehicle No." formControlName="vehicleNumberInput"
                                UpperCaseText
                                (keypress)="Validation.noSpaceAllow($event);Validation.alphaNumericWithSpaces($event);checkRawNo(element)"
                                maxlength="10">
                            </mat-form-field>
                          </div>
                          <div class="mb-0">
                            <label>Remark</label>
                            <mat-form-field appearance="outline" class="w-100">
                              <textarea matInput name="questionText" cols="35" rows="3" placeholder="Remark "
                                alphaNumericWithSpecialchar formControlName="vehicleNumberRemark"></textarea>
                            </mat-form-field>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="card verification-box">
                          <div class="d-flex justify-content-between">
                            <p>Front Vehicle Detected (Box)</p>
                            <mat-radio-group aria-label="Select an option " class="d-flex gap-2 text-nowrap"
                              formControlName="frontViewVehicle">
                              <mat-radio-button value="Yes">Correct</mat-radio-button>
                              <mat-radio-button value="No">Incorrect</mat-radio-button>
                            </mat-radio-group>

                          </div>
                          <div class="d-flex mb-2 py-3 mt-2  justify-content-between">
                            <p>Predicted Front Analysis</p>
                            <mat-radio-group aria-label="Select an option " class="d-flex gap-2 text-nowrap"
                              formControlName="vehicleFrontAnalysis" (change)="checkFrontClass(element)">
                              <mat-radio-button value="Yes">Correct</mat-radio-button>
                              <mat-radio-button value="No">Incorrect</mat-radio-button>
                            </mat-radio-group>
                          </div>
                          <div class="mb-2">
                            <label for="">Vehicle Type</label>
                            <mat-form-field appearance="outline" class="w-100">
                              <mat-select formControlName="vehicleFrontAnalysisType" placeholder="Select Vehicle Type"
                                (selectionChange)="checkRawFrontClass(element)">
                                <mat-option *ngFor="let item of front_cls_names" [value]="item">{{item}}</mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                          <div class="mb-0">
                            <label>Remark</label>
                            <mat-form-field appearance="outline" class="w-100">
                              <textarea matInput name="questionText" cols="35" rows="3" placeholder="Remark "
                                alphaNumericWithSpecialchar formControlName="vehicleFrontAnalysisRemark"></textarea>
                            </mat-form-field>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="card verification-box">
                          <div class="d-flex justify-content-between">
                            <p>Top of Vehicle Detected (Box)</p>
                            <mat-radio-group aria-label="Select an option " class="d-flex gap-2 text-nowrap"
                              formControlName="TopVehicleDetected">
                              <mat-radio-button value="Yes">Correct</mat-radio-button>
                              <mat-radio-button value="No">Incorrect</mat-radio-button>
                            </mat-radio-group>
                          </div>
                          <div class="d-flex mb-2 py-3 mt-2  justify-content-between">
                            <p>Predicted Top Analysis</p>
                            <mat-radio-group aria-label="Select an option " class="d-flex gap-2 text-nowrap"
                              (change)="checkTopClass(element)" formControlName="TopAnalysis">
                              <mat-radio-button value="Yes">Correct</mat-radio-button>
                              <mat-radio-button value="No">Incorrect</mat-radio-button>
                            </mat-radio-group>

                          </div>
                          <div class="mb-2">
                            <label for="">Mining Type</label>
                            <mat-form-field appearance="outline" class="w-100">
                              <mat-select formControlName="TopAnalysissubCategoryType" placeholder="Select Mining Type"
                                (selectionChange)="checkRawTopClass(element)">
                                <mat-option *ngFor="let x of topCategoryArray"
                                  [value]="x.subCategory">{{x.subCategory}}</mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                          <div class="mb-0">
                            <label>Remark</label>
                            <mat-form-field appearance="outline" class="w-100">
                              <textarea matInput name="questionText" cols="35" rows="3" placeholder="Remark "
                                alphaNumericWithSpecialchar (keypress)="Validation.removeSpaceAtBegining($event)"
                                formControlName="TopAnalysisRemark"></textarea>
                            </mat-form-field>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-10">
                        <mat-form-field appearance="outline" class="w-100">
                          <textarea matInput cols="35" rows="3" placeholder="Remark "
                            formControlName="AI_Toll_VerificationRemark"></textarea>
                        </mat-form-field>
                      </div>
                      <div class="col-sm-2 text-end">
                        <button mat-flat-button class="btn-main" (click)="saveUpdate(true)">Correct</button>
                        <button mat-flat-button class="ms-2" color="warn" (click)="saveUpdate(false)">
                         Wrong
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </td>
            </ng-container>
            <tr class="mat-row p-2 w-100" *matNoDataRow col>
              <td class="alert alert-danger text-center m-2 mt-2" colspan="12">No data found</td>
            </tr>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="example-element-row"></tr>
            <!-- [class.example-expanded-row]="expandedElement === element"   (click)="expandedElement = expandedElement === element ? null : element"-->

            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
          </table>
          <ng-container *ngIf="totalRows>10">
            <mat-paginator [pageSizeOptions]="[10]" [length]="totalRows" hidePageSize="true" showFirstLastButtons
              (page)="pageChanged($event)">
            </mat-paginator>
          </ng-container>
        </div>
      </mat-tab>
      <mat-tab label="REVERIFIED">
        <div class="table-responsive table-content scrollbar">
          <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="dashboard-table">
            <ng-container matColumnDef="SrNo">
              <th mat-header-cell *matHeaderCellDef> Sr.No. </th>
              <td mat-cell *matCellDef="let element; let i=index" class="mxw-80"> {{element.srNo}}</td>
            </ng-container>
            <ng-container matColumnDef="VehicleNo">
              <th mat-header-cell *matHeaderCellDef>Vehicle No.</th>
              <td mat-cell *matCellDef="let element ">
                <div class="d-flex">
                  <div class="text-uppercase" style="min-width: 125px;">
                    <p class="mb-0 fw-600"><span class="fw-bold">AI - </span>{{element.raw_vehicleno ?
                      element.raw_vehicleno : element.vehicleNumber }}</p>
                    <p class="mb-0 fw-600"><span class="fw-bold">GT - </span>{{element.vehicleNumber}}</p><span
                      class="small"> {{element.date | date:"dd/MM/yyyy HH:mm"}}</span>
                  </div>
                  <img src="{{imageType(element, 'Number Plate', 'Nothing')?.imagePath}}" height="60"
                    class="m-2  NumberPLate" style="border: 2px solid #5a5a5a;">
                </div>
              </td>
            </ng-container>
            <ng-container matColumnDef="LegalIllegal">
              <th mat-header-cell *matHeaderCellDef>Legal/Illegal</th>
              <td mat-cell *matCellDef="let element ">{{element.leagalIlligal}} </td>
            </ng-container>
            <ng-container matColumnDef="FrontClassName">
              <th mat-header-cell *matHeaderCellDef>Front Class Name</th>
              <td mat-cell *matCellDef="let element ">
                <!-- {{element.aI_VehicleType}}  -->
                <div class="d-flex flex-column justify-content-start">
                  <p class="mb-0"><span class="fw-600">AI-</span><span>{{element.front_class_name}}</span></p>
                  <p class="mb-0"><span class="fw-600">GT-</span><span>{{element.aI_VehicleType}}</span></p>
                </div>
              </td>

            </ng-container>
            <ng-container matColumnDef="TopClassName">
              <th mat-header-cell *matHeaderCellDef>Top Class Name</th>
              <td mat-cell *matCellDef="let element ">
                <div class="d-flex flex-column justify-content-start">
                  <p class="mb-0"><span class="fw-600">AI-</span><span>{{element.top_class_name}}</span></p>
                  <p class="mb-0"><span class="fw-600">GT-</span><span>{{element.aI_SubCategory}}</span></p>
                </div>
              </td>
            </ng-container>
            <ng-container matColumnDef="LaneNo">
              <th mat-header-cell *matHeaderCellDef>Lane No.</th>
              <td mat-cell *matCellDef="let element ">Lane- {{element.laneid}}</td>
            </ng-container>
            <ng-container matColumnDef="expand">
              <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button aria-label="expand row"
                  (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation() ;onClickFold(element,'completed')">
                  <mat-icon class="material-symbols-rounded"
                    *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
                  <mat-icon class="material-symbols-rounded"
                    *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
                </button>
              </td>
            </ng-container>

            <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
            <ng-container matColumnDef="expandedDetail">
              <td mat-cell *matCellDef="let element" [attr.colspan]="7">
                <div class="example-element-detail"
                  [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">

                  <mat-tab-group class="inner-tab">
                    <mat-tab label="Predicted">
                      <div class="row gy-2 mb-4">
                        <div class="col-sm-4">
                          <div class="camera">
                            <div class="img-wh">
                              <div>
                                <lib-ngx-image-zoom [thumbImage]="imageType(element, 'Anpr', 'Predication')?.imagePath"
                                  [magnification]="1" [enableScrollZoom]="true" [enableLens]="true" [lensWidth]="250"
                                  [lensHeight]="250">
                                </lib-ngx-image-zoom>
                              </div>
                            </div>
                            <span>ANPR Camera</span>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="camera">
                            <img src="{{imageType(element, 'Front', 'Predication')?.imagePath}}" alt=""
                              class="camera-height"
                              (click)="openImage(element,imageType(element, 'Front', 'Predication')?.imagePath)">
                            <span>Front Camera</span>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="camera">
                            <img src="{{imageType(element, 'Top', 'Predication')?.imagePath}}" alt=""
                              (click)="openImage(element,imageType(element,'Top', 'Predication')?.imagePath)"
                              class="camera-height">
                            <span>Top Camera</span>
                          </div>
                        </div>
                      </div>
                    </mat-tab>
                    <mat-tab label="Raw">
                      <div class="row gy-2 mb-4">
                        <div class="col-sm-4">
                          <div class="camera">
                            <div class="img-wh">
                              <div>
                                <lib-ngx-image-zoom [thumbImage]="imageType(element, 'Anpr', 'Raw')?.imagePath"
                                  [magnification]="1" [enableScrollZoom]="true" [enableLens]="true" [lensWidth]="250"
                                  [lensHeight]="250">
                                </lib-ngx-image-zoom>
                              </div>
                            </div>
                            <span>ANPR Camera</span>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="camera">
                            <img src="{{imageType(element, 'Front', 'Raw')?.imagePath}}" alt=""
                              (click)="openImage(element,imageType(element,'Front', 'Raw')?.imagePath)"
                              class="camera-height">
                            <span>Front Camera</span>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="camera">
                            <img src="{{imageType(element, 'Top', 'Raw')?.imagePath}}" alt="" class="camera-height"
                              (click)="openImage(element,imageType(element,'Top', 'Raw')?.imagePath)">
                            <span>Top Camera</span>
                          </div>
                        </div>
                      </div>
                    </mat-tab>
                  </mat-tab-group>
                  <!-- <div class="text-end">
                    <button mat-flat-button class="bg-transparent btn-icon" (click)="enableFrom()">
                      <i class="fas fa-edit text-main"></i>
                    </button>
                  </div> -->
                  <button mat-flat-button class="btn-icon mnw-auto ms-2" (click)="openImage(element)">
                    <mat-icon class="material-symbols-rounded">
                      visibility
                    </mat-icon>
                  </button>
                  <form [formGroup]="updateFrom">
                    <div class="row mb-3">
                      <div class="col-sm-4">
                        <div class="card verification-box">
                          <div class="d-flex justify-content-between">
                            <p>Vechicle Detected : (Green Box)</p>
                            <mat-radio-group aria-label="Select an option " class="d-flex gap-2 text-nowrap"
                              formControlName="VehicleDetected">
                              <mat-radio-button value="Yes">Correct</mat-radio-button>
                              <mat-radio-button value="No">Incorrect</mat-radio-button>
                            </mat-radio-group>

                          </div>
                          <div class="d-flex justify-content-between">
                            <p>Number Plate Detected : (Red Box)</p>
                            <mat-radio-group aria-label="Select an option " class="d-flex gap-2 text-nowrap"
                              formControlName="vehicleNumberPlate">
                              <mat-radio-button value="Yes">Correct</mat-radio-button>
                              <mat-radio-button value="No">Incorrect</mat-radio-button>
                            </mat-radio-group>

                          </div>
                          <div class="d-flex justify-content-between">
                            <p>Vehicle Number :</p>
                            <mat-radio-group aria-label="Select an option " class="d-flex gap-2 text-nowrap"
                              formControlName="vehicleNumberDetected" (change)="checkVehicleNo(element)">
                              <mat-radio-button value="Yes">Correct</mat-radio-button>
                              <mat-radio-button value="No">Incorrect</mat-radio-button>
                            </mat-radio-group>

                          </div>
                          <div class="mb-2">
                            <label for="">Vehicle No.</label>
                            <mat-form-field appearance="outline" class="w-100">
                              <input matInput placeholder="Vehicle No." formControlName="vehicleNumberInput"
                                UpperCaseText
                                (keypress)="Validation.noSpaceAllow($event);Validation.alphaNumericWithSpaces($event);checkRawNo(element)"
                                maxlength="10">
                            </mat-form-field>
                          </div>
                          <div class="mb-0">
                            <label>Remark</label>
                            <mat-form-field appearance="outline" class="w-100">
                              <textarea matInput name="questionText" cols="35" rows="3" placeholder="Remark "
                                alphaNumericWithSpecialchar formControlName="vehicleNumberRemark"></textarea>
                            </mat-form-field>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="card verification-box">
                          <div class="d-flex justify-content-between">
                            <p>Front Vehicle Detected (Box)</p>
                            <mat-radio-group aria-label="Select an option " class="d-flex gap-2 text-nowrap"
                              formControlName="frontViewVehicle">
                              <mat-radio-button value="Yes">Correct</mat-radio-button>
                              <mat-radio-button value="No">Incorrect</mat-radio-button>
                            </mat-radio-group>

                          </div>
                          <div class="d-flex mb-2 py-3 mt-2  justify-content-between">
                            <p>Predicted Front Analysis</p>
                            <mat-radio-group aria-label="Select an option " class="d-flex gap-2 text-nowrap"
                              formControlName="vehicleFrontAnalysis" (change)="checkFrontClass(element)">
                              <mat-radio-button value="Yes">Correct</mat-radio-button>
                              <mat-radio-button value="No">Incorrect</mat-radio-button>
                            </mat-radio-group>
                          </div>
                          <div class="mb-2">
                            <label for="">Vehicle Type</label>
                            <mat-form-field appearance="outline" class="w-100">
                              <mat-select formControlName="vehicleFrontAnalysisType" placeholder="Select Vehicle Type"
                                (selectionChange)="checkRawFrontClass(element)">
                                <mat-option *ngFor="let item of front_cls_names" [value]="item">{{item}}</mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                          <div class="mb-0">
                            <label>Remark</label>
                            <mat-form-field appearance="outline" class="w-100">
                              <textarea matInput name="questionText" cols="35" rows="3" placeholder="Remark "
                                alphaNumericWithSpecialchar formControlName="vehicleFrontAnalysisRemark"></textarea>
                            </mat-form-field>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="card verification-box">
                          <div class="d-flex justify-content-between">
                            <p>Top of Vehicle Detected (Box)</p>
                            <mat-radio-group aria-label="Select an option " class="d-flex gap-2 text-nowrap"
                              formControlName="TopVehicleDetected">
                              <mat-radio-button value="Yes">Correct</mat-radio-button>
                              <mat-radio-button value="No">Incorrect</mat-radio-button>
                            </mat-radio-group>
                          </div>
                          <div class="d-flex mb-2 py-3 mt-2  justify-content-between">
                            <p>Predicted Top Analysis</p>
                            <mat-radio-group aria-label="Select an option " class="d-flex gap-2 text-nowrap"
                              (change)="checkTopClass(element)" formControlName="TopAnalysis">
                              <mat-radio-button value="Yes">Correct</mat-radio-button>
                              <mat-radio-button value="No">Incorrect</mat-radio-button>
                            </mat-radio-group>

                          </div>
                          <div class="mb-2">
                            <label for="">Mining Type</label>
                            <mat-form-field appearance="outline" class="w-100">
                              <mat-select formControlName="TopAnalysissubCategoryType" placeholder="Select Mining Type"
                                (selectionChange)="checkRawTopClass(element)">
                                <mat-option *ngFor="let x of topCategoryArray"
                                  [value]="x.subCategory">{{x.subCategory}}</mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                          <div class="mb-0">
                            <label>Remark</label>
                            <mat-form-field appearance="outline" class="w-100">
                              <textarea matInput name="questionText" cols="35" rows="3" placeholder="Remark "
                                alphaNumericWithSpecialchar (keypress)="Validation.removeSpaceAtBegining($event)"
                                formControlName="TopAnalysisRemark"></textarea>
                            </mat-form-field>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-10">
                        <mat-form-field appearance="outline" class="w-100">
                          <textarea matInput cols="35" rows="3" placeholder="Remark "
                            formControlName="AI_Toll_VerificationRemark"></textarea>
                        </mat-form-field>
                      </div>
                      <div class="col-sm-2 text-end">
                        <!-- <button mat-flat-button class="btn-main" (click)="saveUpdate(false)">Update</button> -->
                        <button mat-flat-button class="ms-2"  color="warn" (click)="saveUpdate(false)">
                          Wrong
                         </button>
                      </div>
                    </div>
                  </form>
                </div>
              </td>
            </ng-container>
            <tr class="mat-row p-2 w-100" *matNoDataRow col>
              <td class="alert alert-danger text-center m-2 mt-2" colspan="12">No data found</td>
            </tr>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="example-element-row"></tr>
            <!-- [class.example-expanded-row]="expandedElement === element"   (click)="expandedElement = expandedElement === element ? null : element"-->

            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
          </table>
          <ng-container *ngIf="totalRows>10">
            <mat-paginator [pageSizeOptions]="[10]" [length]="totalRows" hidePageSize="true" showFirstLastButtons
              (page)="pageChanged($event)">
            </mat-paginator>
          </ng-container>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
