// material style start
button,
input,
optgroup,
select,
textarea {
    font-family: Poppins, "Poppins", sans-serif !important;
    font-size: .9rem !important;
}

.mat-mdc-button.mat-mdc-button-base,
.mat-mdc-raised-button.mat-mdc-button-base,
.mat-mdc-unelevated-button.mat-mdc-button-base,
.mat-mdc-outlined-button.mat-mdc-button-base {
    height: 36px !important;
}

.mat-mdc-fab,
.mat-mdc-mini-fab {
    box-shadow: none !important;
}
.mdc-fab--mini {
    width: 36px!important;
    height: 36px!important;
}
.mdc-fab--mini .material-icons {
    font-size: 20px;
}
.mdc-dialog__title+.mdc-dialog__content, .mdc-dialog__header+.mdc-dialog__content {
    padding-top: 20px!important;
}
.mat-mdc-dialog-container .mdc-dialog__content {
    font-family: inherit!important;
    line-height: inherit!important;
    font-size: inherit!important;
    font-weight: inherit!important;
    letter-spacing: inherit!important;
    color: inherit!important;
}
.mdc-text-field--focused .mdc-notched-outline__leading,
.mdc-text-field--focused .mdc-notched-outline__notch,
.mdc-text-field--focused .mdc-notched-outline__trailing {
    border-width: 1px !important;
    border-color: #000;
}

.mat-mdc-button.mat-mdc-button-base,
.mat-mdc-raised-button.mat-mdc-button-base,
.mat-mdc-unelevated-button.mat-mdc-button-base,
.mat-mdc-outlined-button.mat-mdc-button-base {
    height: 36px;
}
.mdc-icon-button .material-icons {
    height: 25px;
    font-size: 1.25rem;
    width: 25px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.mat-mdc-form-field-icon-suffix mat-icon {
    font-size: 22px !important;
    padding: 5px !important;
    color: #747474;
}
.mat-mdc-form-field-icon-suffix span{
    color: #747474;
}
.mat-mdc-form-field-hint-wrapper, .mat-mdc-form-field-error-wrapper {
    padding-right: 2px!important;
    padding-left: 10px!important;
}
// mat-tab style
.mat-mdc-tab:not(.mat-mdc-tab-disabled).mdc-tab--active .mdc-tab__text-label, .mat-mdc-tab-link:not(.mat-mdc-tab-disabled).mdc-tab--active .mdc-tab__text-label {
  font-size: 1rem;
  font-weight: 500;
}
.mat-mdc-tab .mdc-tab__text-label {
  font-size: 1rem;
  font-weight: 500;
}
